<div class="row">
    <div class="col-lg-12">
        <span class="one page-title">Search Course Detail</span>
        <i class="fa fa-window-close float-right" style="font-size: 25px !important;" (click)="onNoClick()"  aria-hidden="true"></i>
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="info-form">
      <form [formGroup]="courseForm" #myform="ngForm" (ngSubmit)="onSearch(courseForm.value)">
        <div class="form-group">
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 pt-4">
            <label for="description">Course description</label>
            <input type="text" placeholder="Course Description *" id="description" formControlName="description"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">Course Description is required</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 pt-4">
            <label for="courseName">Course Name</label>
            <select class="form-control" placeholder="Group Name *" formControlName="courseName"
              [ngClass]="{ 'is-invalid': submitted && f.courseName.errors }">
              <option value="" disabled selected>Select Course Type</option>
              <option *ngFor="let course of courseType" [value]="course">
                {{course}}
              </option>
            </select>
            <div *ngIf="submitted && f.courseName.errors" class="invalid-feedback">
              <div *ngIf="f.courseName.errors.required">Course CourseName is required</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 pt-4">
            <button type="submit" class="btn btn-secondary" style="margin-top: 30px;"
              (click)="onSearch(courseForm.value)">Search</button>
            <button type="button" (click)="onClear()" class="btn btn-primary"
              style="margin-left: 15px;margin-top: 30px;">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="pt-4">
  <div class="table-responsive text-nowrap table-content">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr style="background-color: #623073;color: #fff;">
          <th scope="col">S.No</th>
          <th class="text-center">Title</th>
          <th class="text-center">Code</th>
          <th>Url</th>
          <th class="text-center">Description</th>
          <th class="text-center">Document Type</th>
          <th class="text-center">Course Type</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courseData of courses;let i=index" scope="row">
          <td>{{i+1}}</td>
          <td>{{courseData.title}}</td>
          <td>{{courseData.code}}</td>
          <td>{{courseData.url}}</td>
          <td>{{courseData.description}}</td>
          <td>{{courseData.documentType}}</td>
          <td>{{courseData.courseType}}</td>
          <td><input type="checkbox" (change)="toggleVisibility($event,courseData)" /></td>
        </tr>
        <tr *ngIf="courseLength==0">
          <td class="text-center" colspan="100%"> No Record Found</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="courseLength!=0" class="form-group col-md-12 col-sm-12"
    style="text-align: right;padding-right: 0px !important;">
    <button name="add" type="submit" value="add" class="btn btn-danger" (click)="onAddSubmit()">Add Course
      Detail</button>
  </div>
</div>