table.center {
    width:0%; 
    margin-left:15%; 
    margin-right:15%;
  }
  .has-error {
    color: #421853;
    background-color: #421853;
}

@media(max-width: 800px) {
  .responsive_table {
      overflow-x: auto !important;
      overflow-y: hidden
  }

  .mat-table {
      min-width:800px;
  }
  }